.portfolio-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

.portGallery {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.galleryCard {
    width: 40%;
    margin: 0 2rem;
    border: 2px dashed #6415ff;
    border-radius: 10px;

}

.galleryCard>#pro {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.galleryCard>#pro>p {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: #6415ff;
    font-weight: 600;
    line-height: 1rem;
    margin-top: 1rem;
    text-transform: capitalize;
}

.galleryCard>h6 {
    color: #243e7c;
    font-size: 1.3rem;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2rem;
}

.time {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around !important;
}

.time>p {
    display: flex;
    align-items: center;
    font-size: .9rem;
    color: grey;
    font-weight: 600;
    line-height: 1rem;
    margin-top: 1rem;
}

.galleryCard>button {
    width: 100%;
    font-size: 1.1rem;
    font-weight: 500;
    color: #fff;
    text-transform: capitalize;
    margin-top: 2rem;
    background: #6415ff;
    outline: none;
    border: none;
    padding: .7rem;
    cursor: pointer;
    border-radius: 5px;
}

.galleryCard>img {
    width: 100%;
    border-radius: 10px;
}

.portContent {
    width: 40%;
}

.portContent>small {
    font-size: 1rem;
    color: #6415ff;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: capitalize;
}

.portContent>h3 {
    color: #243e7c;
    font-size: 2.5rem;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1rem;
}

.portContent>h3>span {
    color: #6415ff;
}

.portContent>p {
    font-size: 1.1rem;
    color: grey;
    font-weight: 500;
    line-height: 1.4rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.portContent>a {
    font-size: 1rem;
    color: #6415ff;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
}

@media screen and (max-width:960px) {
    .portfolio-section {
        width: 100%;
        flex-direction: column-reverse;
        padding: 1rem;
        margin-top: 2rem;
    }

    .portContent {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .portContent>small {
        margin-top: 5rem;
    }

    .portContent>h3 {
        text-align: center;
        font-size: 4rem;
    }

    .portContent>p {
        font-size: 1.8rem;
        line-height: 2.3rem;
        text-align: center;
    }

    .portGallery {
        width: 100%;
        display: flex;
        align-items: center;
        margin-top: 2rem;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 650px) {
    .portGallery {
        width: 100%;
        padding: 1rem;
    }

    .galleryCard {
        width: 100%;
        margin: 1rem 0;
    }

    .portContent>h3 {
        font-size: 2rem;
    }

    .portContent>p {
        font-size: 1rem;
        line-height: 1.3rem;
    }

    .galleryCard>#pro>p {
        font-size: 1rem;
    }

    .galleryCard>h6 {
        font-size: 1.1rem;
        margin-top: 1rem;
    }

    .time>p {
        font-size: .8rem;
    }

    .galleryCard>button {
        width: 100%;
        font-size: 1rem;
        margin-top: 1rem;
        padding: .5rem;
    }


}